name: Build
on:
  push
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      
      - name: Install dependencies
        # Will look for a requirements.txt file and install those dependencies, if present.
        run: |
          python -m pip install --upgrade pip
          pip install build pytest pytest-cookies sphinx myst-parser sphinx-rtd-theme sphinx-autoapi
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Run all tests
        run: |
          pytest