name: Project documentation
on:
  push
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - name: Install dependencies
        # Will look for a requirements.txt file and install those dependencies, if present.
        run: |
          python -m pip install --upgrade pip
          pip install sphinx myst-parser sphinx-rtd-theme
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Build HTML docs
        run: |
          sphinx-build -W -b html docs docs/_build/html

      - name: Check documentation links
        run: |
          sphinx-build -W -b linkcheck docs docs/_build/linkcheck